<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="tenantId" value="e401ddf3-e2e4-4248-bcac-a5c248130505" />
    <add key="clientId" value="91ccb3e3-a7a8-4b91-a0a2-404ada3f6bdb" />
    <add key="clientSecret" value="B_Vv9PZPSM85j3Ism-20P--6FYE631E1~I" />
  </appSettings>
</configuration>